<!DOCTYPE html>
<html lang="en">
<head>
  <title>Happy Ied Mubarak</title>
  <meta charset="UTF-8">
  <meta content="Selamat Idul Fitri Gaes" name="description" />
  <meta content="Leii" name="author" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" /
  <link rel="shortcut icon" href="https://i.pinimg.com/236x/87/d7/60/87d760bcca8b7cdbf598d0d8f16586f2.jpg">
  <link rel="apple-touch-icon" href="https://i.pinimg.com/236x/87/d7/60/87d760bcca8b7cdbf598d0d8f16586f2.jpg">
  <link rel="image_src" href="https://i.pinimg.com/236x/87/d7/60/87d760bcca8b7cdbf598d0d8f16586f2.jpg"> 
  <link rel="search" type="application/opensearchdescription+xml" title="ied-mubarak" href="/opensearch.xml">
  <link rel="canonical" href="https://dahlia.my.id/ied-mubarak.exe" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0">
  <meta property="og:type" content= "website" />
  <meta property="og:url" content="https://dahlia.my.id/ied-mubarak.exe"/>
  <meta property="og:site_name" content="Ied Mubarak" />
  <meta property="og:image" itemprop="image primaryImageOfPage" content="https://i.pinimg.com/236x/87/d7/60/87d760bcca8b7cdbf598d0d8f16586f2.jpg" />
  <meta name="twitter:domain" content="dahlia.my.id"/>

  <link rel="alternate" type="application/atom+xml" title="Happy Ied Mubarak" href="https://dahlia.my.id/ied-mubarak.exe">
  
  <style>
    html, body {
    height: 100%;
    }

    html {
        display: table;
        margin: auto;
    }

    body {
        display: table-cell;
        
    }
  </style>
</head>
<body">
  <h1>Selamat Hari Raya Idul Fitri 1441H </h1>
  <p>Saya Segenap diri saya pribadi mengucapkan selamat hari raya idul fitri 1441H mohon maaf lahir dan batin</p>
  <br>
  <p>- Aldion Amirrul Endryanto <strike>Sekeluarga</strike> Belum Berkeluarga</p>
</body>
</html>