{% load static %}
<header id="topnav">
    <nav class="navbar-custom">
        <ul class="list-unstyled topbar-right-menu float-right mb-0">
            <li class="dropdown notification-list">
                <a class="nav-link dropdown-toggle nav-user" data-toggle="dropdown" href="#" role="button"
                    aria-haspopup="false" aria-expanded="false">
                    <img src="{% static 'images/users/avatar-1.jpg' %}" alt="user" class="rounded-circle"> <span class="ml-1">
                    {{ request.user.first_name }} {{ request.user.last_name }}
                        <i class="mdi mdi-chevron-down"></i> </span>
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated profile-dropdown ">
                    <a href="{% url 'authentication:signout' %}" class="dropdown-item notify-item">
                        <i class="dripicons-power"></i> <span>Logout</span>
                    </a>
                    <a href="/admin/" class="dropdown-item notify-item">
                        <i class="dripicons-user"></i> <span>Admin Dashboard</span>
                    </a>
                </div>
            </li>
        </ul>


        <ul class="list-unstyled menu-left mb-0">
            <li class="float-left">
                <a href="index.html" class="logo">
                    <span class="logo-lg">
                        <img src="{% static 'images/logo.png' %}" alt="" height="20">
                    </span>
                    <span class="logo-sm">
                        <img src="{% static 'images/logo_sm.png' %}" alt="" height="28">
                    </span>
                </a>
            </li>
        </ul>
    </nav>
</header>