{% extends 'include/__main.html' %}
{% load static %}

{% block css %}
    {{ block.super }}
    <style type="text/css">
        svg > g[class^="raphael-group-"] > text{
            display: none;
        }
    </style>
    <script type="text/javascript"src="{% static 'js/fusioncharts.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/themes/fusioncharts.theme.fint.js' %}"></script>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    
{% endblock %}

{% block breadcrumb %}
    <div class="page-title-box">
        <ol class="breadcrumb float-right">
            <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
            <li class="breadcrumb-item active">Monitoring Kebun</li>
        </ol>
        <h4 class="page-title">Monitoring Kebun</h4>
    </div>
{% endblock  %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            {% if messages %}
                {% for message in messages %}

                <div class="alert alert-dismissible bg-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} text-white border-0 fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong></strong> {{ message }}
                </div>

                {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-xl-3">
            {% if current_value.value_water_temperature > config_value.max_water_temperature and current_value.value_water_temperature < config_value.min_water_temperature %}
                <div class="card-box gradient-danger bx-shadow-lg">
                    <div class="widget-chart-one-content text-center">
                        <h4 align="left" class="text-white mb-0 mt-2"><strong>Suhu Udara</strong></h4>
                        <h2 class="text-white">{{ current_value.water_temperature }}°C</h2>
                        <p class="text-white mb-0 mt-2">tidak normal</p>
                    </div>
                </div> <!-- end card-box-->
            {% else %}
                <div class="card-box gradient-success bx-shadow-lg">
                    <div class="widget-chart-one-content text-center">
                        <h4 align="left" class="text-white mb-0 mt-2"><strong>Suhu Udara</strong></h4>
                        <h2 class="text-white">{{ current_value.value_water_temperature }}°C</h2>
                        <p class="text-white mb-0 mt-2">normal</p>
                    </div>
                </div> <!-- end card-box-->
            {% endif %}
                
        </div> <!-- end col -->

        <div class="col-xl-3">

            {% if current_value.value_water_temperature > config_value.max_water_temperature and current_value.value_water_temperature < config_value.min_water_temperature %}
                <div class="card-box gradient-danger bx-shadow-lg">
                    <div class="widget-chart-one-content text-center">
                        <h4 align="left" class="text-white mb-0 mt-2"><strong>Suhu Air Nutrisi</strong></h4>
                        <h2 class="text-white">{{ current_value.water_temperature }}°C</h2>
                        <p class="text-white mb-0 mt-2">tidak normal</p>
                    </div>
                </div> <!-- end card-box-->
            {% else %}
                <div class="card-box gradient-success bx-shadow-lg">
                    <div class="widget-chart-one-content text-center">
                        <h4 align="left" class="text-white mb-0 mt-2"><strong>Suhu Air Nutrisi</strong></h4>
                        <h2 class="text-white">{{ current_value.value_water_temperature }}°C</h2>
                        <p class="text-white mb-0 mt-2">normal</p>
                    </div>
                </div> <!-- end card-box-->
            {% endif %}

        </div> <!-- end col -->

        <div class="col-xl-3">

            {% if current_value.value_water_temperature > config_value.max_water_temperature and current_value.value_water_temperature < config_value.min_water_temperature %}
                <div class="card-box gradient-danger bx-shadow-lg">
                    <div class="widget-chart-one-content text-center">
                        <h4 align="left" class="text-white mb-0 mt-2"><strong>Keasaman Air</strong></h4>
                        <h2 class="text-white">{{ current_value.water_temperature }} pH</h2>
                        <p class="text-white mb-0 mt-2">tidak normal</p>
                    </div>
                </div> <!-- end card-box-->
            {% else %}
                <div class="card-box gradient-success bx-shadow-lg">
                    <div class="widget-chart-one-content text-center">
                        <h4 align="left" class="text-white mb-0 mt-2"><strong>Keasaman Air</strong></h4>
                        <h2 class="text-white">{{ current_value.value_water_temperature }} pH</h2>
                        <p class="text-white mb-0 mt-2">normal</p>
                    </div>
                </div> <!-- end card-box-->
            {% endif %}

        </div> <!-- end col -->

        <div class="col-xl-3">

            {% if current_value.value_tds > config_value.max_tds and current_value.value_tds < config_value.min_tds %}
                <div class="card-box gradient-danger bx-shadow-lg">
                    <div class="widget-chart-one-content text-center">
                        <h4 align="left" class="text-white mb-0 mt-2"><strong>Nutrisi Air</strong></h4>
                        <h2 class="text-white">{{ current_value.tds }} PPM</h2>
                        <p class="text-white mb-0 mt-2">tidak normal</p>
                    </div>
                </div> <!-- end card-box-->
            {% else %}
                <div class="card-box gradient-success bx-shadow-lg">
                    <div class="widget-chart-one-content text-center">
                        <h4 align="left" class="text-white mb-0 mt-2"><strong>Nutrisi Air</strong></h4>
                        <h2 class="text-white">{{ current_value.value_tds }} PPM</h2>
                        <p class="text-white mb-0 mt-2">normal</p>
                    </div>
                </div> <!-- end card-box-->
            {% endif %}

        </div> <!-- end col -->

    </div>
    <!-- end row -->

    <div class="row">
        <div class="col-xl-3">
        </div> <!-- end col -->

        <div class="col-xl-3">
            {% if nutrient_value.value < 50 %}
                <div class="card-box gradient-danger bx-shadow-lg">

                    <div class="widget-chart-one-content text-center">
                        <h4 align="left" class="text-white mb-0 mt-2"><strong>Estimasi Sisa Nutrisi</strong></h4>
                        <h2 class="text-white">{{ nutrient_value.value }} ml</h2>
                        <p class="text-white mb-0 mt-2">segera habis</p>
                    </div>
                </div> <!-- end card-box-->
            {% else %}
                <div class="card-box gradient-success bx-shadow-lg">

                <div class="widget-chart-one-content text-center">
                    <h4 align="left" class="text-white mb-0 mt-2"><strong>Estimasi Sisa Nutrisi</strong></h4>
                    <h2 class="text-white">{{ nutrient_value.value }} ml</h2>
                    <p class="text-white mb-0 mt-2">normal</p>
                </div>
            </div> <!-- end card-box-->
            {% endif %}

        </div> <!-- end col -->

        <div class="col-xl-3">

            {% if current_value.value_humidity > config_value.max_humidity and current_value.value_humidity < config_value.min_humidity %}
                <div class="card-box gradient-danger bx-shadow-lg">
                    <div class="widget-chart-one-content text-center">
                        <h4 align="left" class="text-white mb-0 mt-2"><strong>Kelembaban Udara</strong></h4>
                        <h2 class="text-white">{{ current_value.humidity }}%</h2>
                        <p class="text-white mb-0 mt-2">tidak normal</p>
                    </div>
                </div> <!-- end card-box-->
            {% else %}
                <div class="card-box gradient-success bx-shadow-lg">
                    <div class="widget-chart-one-content text-center">
                        <h4 align="left" class="text-white mb-0 mt-2"><strong>Kelembaban Udara</strong></h4>
                        <h2 class="text-white">{{ current_value.value_humidity }}%</h2>
                        <p class="text-white mb-0 mt-2">normal</p>
                    </div>
                </div> <!-- end card-box-->
            {% endif %}

        </div> <!-- end col -->

        <div class="col-xl-3">
        </div> <!-- end col -->

    </div>
    <!-- end row -->

    <div class="row">
        <div class="col-xl-6">

            <div class="card-box bx-shadow-lg">
                <div id="chart-1"></div>
                <!-- dumping JavaScript code here -->
                {{ output|safe }}
            </div> <!-- end card-box-->

        </div> <!-- end col -->

        <div class="col-xl-6">

            <div class="card-box bx-shadow-lg">
                <div id="chart-2"></div>
                <!-- dumping JavaScript code here -->
                {{ output2|safe }}
            </div> <!-- end card-box-->

        </div> <!-- end col -->
    <!-- end row -->
    </div>
{% endblock %}
