{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Yukina IoT</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta content="a Dashboard IoT that Free to Use" name="description" />
        <meta content="Leii" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <!-- App favicon -->
        <link rel="shortcut icon" href="assets/images/favicon.ico">

        <!-- Icons css -->
        <link href="{% static 'libs/@mdi/font/css/materialdesignicons.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'libs/dripicons/webfont/webfont.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'libs/simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet" type="text/css" />

        <!-- App css -->
        <!-- build:css -->
        <link href="{% static 'css/app.css' %}" rel="stylesheet" type="text/css" />
        <!-- endbuild -->

    </head>

    <body class="bg-account-pages">

        <!-- Login -->
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-12">

                        <div class="wrapper-page">
                            <div class="account-pages">
                                <div class="account-box">

                                    <!-- Logo box-->
                                    <div class="account-logo-box">
                                        <h2 class="text-uppercase text-center">
                                            <a href="index.html" class="text-success">
                                                <span><img src="{% static 'images/logo.png' %}" alt="" height="28"></span>
                                            </a>
                                        </h2>
                                        <br>
                                        {% if messages %}
                                            {% for message in messages %}

                                            <div class="alert alert-dismissible bg-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} text-white border-0 fade show" role="alert">
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                <strong></strong> {{ message }}
                                            </div>

                                            {% endfor %}
                                        {% endif %}
                                    </div>

                                    <div class="account-content">
                                        <form action="#" method="POST">
                                            {% csrf_token %}
                                            <div class="form-group mb-3">
                                                <label for="emailaddress" class="font-weight-medium">Email address</label>
                                                <input name="username" class="form-control" type="text" id="emailaddress" required="" placeholder="Enter your email">
                                            </div>

                                            <div class="form-group mb-3">
            
                                                <label for="password" class="font-weight-medium">Password</label>
                                                <input name="password" class="form-control" type="password" required="" id="password" placeholder="Enter your password">
                                            </div>

                                            <div class="form-group mb-3">
                                                <div class="checkbox checkbox-info">
                                                    <input id="remember" type="checkbox">
                                                    <label for="remember">
                                                        Remember me
                                                    </label>
                                                </div>
                                            </div>

                                            <div class="form-group row text-center">
                                                <div class="col-12">
                                                    <button class="btn btn-block btn-success waves-effect waves-light" type="submit">Sign In</button>
                                                </div>
                                            </div>
                                        </form> <!-- end form -->

                                        
                                    </div> <!-- end account-content -->

                                </div> <!-- end account-box -->
                            </div>
                            <!-- end account-page-->
                        </div>
                        <!-- end wrapper-page -->

                    </div> <!-- end col -->
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>
        <!-- END HOME -->    


        <!-- jQuery  -->
        <script src="{% static 'libs/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'libs/jquery-slimscroll/jquery.slimscroll.min.js' %}"></script>

        <!-- App js -->
        <script src="{% static 'js/jquery.core.js' %}"></script>
        <script src="{% static 'js/jquery.app.js' %}"></script>

    </body>
</html>
